{erl_opts, [debug_info, {parse_transform, lager_transform},   {verbosity, trace}]}.
{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}}
       ]}.

{relx, [{release, {'simple_erlang_web_socket', "0.1.0"},
                [
                        kernel,
                        stdlib,
                        inets,
                        ranch,
                        crypto,
                        cowlib,
                        cowboy,
                        lager,
                        jsx,
                        'simple_erlang_web_socket',
                        sasl
                ]
        },
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.